<div class = "modal-header">
    <h3> Create New Room</h3>
</div>
<div class = "modal-body modalBody">
    
    <h5> Enter a room name </h5>
    <form ng-submit="modal.submitRoom()">
    <input class = "newRoomText" type="text" ng-model="modal.newRoomName">
    <div class = "modal-footer new-room-value">

        <input class = "newRoomButton" type = "button" value = "Cancel" ng-click = "modal.cancel()">
        <input class = "newRoomButton" type = "submit" value = "New Room">

    </div>
    </form>

</div>

